[project]
	description = C++ and Python code extracted from the tutorials at http://opencv-code.com
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gnarayana77
[access "refs/for/refs/*"]
	read = group user/gnarayana77
	push = group user/gnarayana77
	label-Code-Review = -2..+2 group user/gnarayana77
	label-Verified = -1..+1 group user/gnarayana77
	rebase = group user/gnarayana77
	removeReviewer = group user/gnarayana77
	submit = group user/gnarayana77
[access "refs/heads/*"]
	read = group user/gnarayana77
	create = group user/gnarayana77
	push = +force group user/gnarayana77
	pushMerge = group user/gnarayana77
[access "refs/tags/*"]
	push = +force group user/gnarayana77
	pushTag = group user/gnarayana77
	pushSignedTag = group user/gnarayana77
